.footContainer {
    /*display: flex;*/
    width: 100%;  /* 전체 너비 */
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: white;
    display: flex;
    align-items: flex-start;  /* 수직 정렬 */
    justify-content: center;  /* 수평 중앙 정렬 */
}
