.topWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4vw;
}

.mainIconWrap {
    display: flex;
}

.addressWrap {
    display: flex;
    align-items: center;
    justify-items: center;
}
.address {
    font-weight: 500;
    margin: 0 2vw;
    /* 위 오 아래 왼 */
}

.topSvgWrap {
    display: flex;
    gap: 4.5vw;
    margin-left: 10vw;
}

.svgContainer {
    width: 25px;
    height: 24px;
}

.svgRightContainer {
    height: 24px;
}

.topAd {
    width: 100%;
    height: 12vh; /* vh 단위 사용: 뷰포트 높이의 10% */
    background-color: blue;
}

.bookListWarp {
    overflow: auto;
    padding-bottom: 10vh;
    /*height: 101vw;*/
}

/* 스크롤바를 감춥니다. */
.bookListWarp::-webkit-scrollbar {
    width: 0;
}

/* 스크롤바 thumb에 색상을 지정합니다. */
.bookListWarp::-webkit-scrollbar-thumb {
    background-color: transparent; /* 배경색 없음 */
}

.bookListContainer {
    margin: 0 auto 2vw 0;
    /* overflow-y: auto; */ /* 이 부분을 제거하세요 */
}

.bookTitleWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 2vw 2vw;
    margin-bottom: 10px;
    cursor: pointer;
}

.bookContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
}

.imgWrap {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.imgWrap img {
    height: 100%;
    width: 100%;
}


.book {
    width: 27vw;
    height: 36vw;
    /* box-shadow:  1vw 2vw 4vw 0vw darkgray; */
}

.BottomAd {
    width: 100%;
    height: 23vw;
}
